header.header
  .header-content.container

    .header-logo
      a(href="#!")
        div
          img(src="https://assets.codepen.io/285131/untitled-ui-icon.svg", alt="logo")
        img(src="https://assets.codepen.io/285131/untitled-ui.svg", alt="untitled")

    nav.header-navigation
      ul.header-navigation-links
        li #[a(href="#!") Home]
        li #[a(href="#!") Dashboard]
        li #[a(href="#!") Projects]
        li #[a(href="#!") Tasks]
        li #[a(href="#!") Reporting]
        li #[a(href="#!") Users]

    .header-navigation-actions
      a(href="#!").button
        i.ph-lightning-bold
        span Upgrade Now
      a(href="#!").icon-button
        i.ph-gear-bold
      a(href="#!").icon-button
        i.ph-bell-bold
      a(href="#!").avatar
        img(src="https://assets.codepen.io/285131/hat-man.png", alt="avatar")

    a.button(href="#!")
      i.ph-list-bold
      span Menu