include ./_vars

main.main
  .container
    .main-header
      h1 Settings
      .search
        input(type="text", placeholder="Search")
        button(type="submit")
          i.ph-magnifying-glass-bold
    nav.horizontal-tabs
      a(href="#!") My details
      a(href="#!") Profile
      a(href="#!") Password
      a(href="#!") Team
      a(href="#!") Plan
      a(href="#!") Billing
      a(href="#!") Email
      a(href="#!") Notifications
      a(href="#!").active Integrations
      a(href="#!") API
    .content-header
      .content-header-intro
        h2 Integrations and connected app
        p Supercharge your workflow and connect the tool you use every day.
      .content-header-actions
        a.button(href="#!")
          i.ph-faders-bold
          span Filter
        a.button(href="#!")
          i.ph-plus-bold
          span Request integration
    .content
      .content-panel
        .vertical-tabs
          a(href="#!").active View all
          a(href="#!") Developer tools
          a(href="#!") Communication
          a(href="#!") Productivity
          a(href="#!") Browser tools
          a(href="#!") Marketplace
      .content-main
        .card-grid
          each card in cards
            article.card
              .card-header
                div
                  span
                    img(src= card.icon, alt= card.label)
                  h3= card.label
                label.toggle
                  input(type="checkbox" checked)
                  span
              .card-body
                p= card.desc
              .card-footer
                a(href= card.link) View integration