-
  const cards = [
    {
      'label': 'Zeplin',
      'icon': 'https://assets.codepen.io/285131/zeplin.svg',
      'desc': 'Collaboration between designers and developers.',
      'link': '#!',
    },
    {
      'label': 'Github',
      'icon': 'https://assets.codepen.io/285131/github.svg',
      'desc': 'Link pull request and automate workflow.',
      'link': '#!',
    },
    {
      'label': 'Figma',
      'icon': 'https://assets.codepen.io/285131/figma.svg',
      'desc': 'Embded file preview in projects.',
      'link': '#!',
    },
    {
      'label': 'Zapier',
      'icon': 'https://assets.codepen.io/285131/zapier.svg',
      'desc': 'Build custom automations and integrations with apps.',
      'link': '#!',
    },
    {
      'label': 'Notion',
      'icon': 'https://assets.codepen.io/285131/notion.svg',
      'desc': 'Embed notion pages and notes in projects.',
      'link': '#!',
    },
    {
      'label': 'Slack',
      'icon': 'https://assets.codepen.io/285131/slack.svg',
      'desc': 'Send notification to channels and create projects.',
      'link': '#!',
    },
    {
      'label': 'Zendesk',
      'icon': 'https://assets.codepen.io/285131/zendesk.svg',
      'desc': 'Link and automate Zendesk tickets.',
      'link': '#!',
    },
    {
      'label': 'Jira',
      'icon': 'https://assets.codepen.io/285131/jira.svg',
      'desc': 'Plan, track, and release great software.',
      'link': '#!',
    },
    {
      'label': 'Dropbox',
      'icon': 'https://assets.codepen.io/285131/dropbox.svg',
      'desc': 'Everything you need for work, all in one place.',
      'link': '#!',
    },
    {
      'label': 'Google-chrome',
      'icon': 'https://assets.codepen.io/285131/google-chrome.svg',
      'desc': 'Link your Google account to share bookmarks across your entire team.',
      'link': '#!',
    },
    {
      'label': 'Discord',
      'icon': 'https://assets.codepen.io/285131/discord.svg',
      'desc': 'Keep in touch with your customers without leaving the app.',
      'link': '#!',
    },
    {
      'label': 'Google-drive',
      'icon': 'https://assets.codepen.io/285131/google-drive.svg',
      'desc': 'Link your Google account to share files across your entire team.',
      'link': '#!',
    },
  ];